<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>  
  <appSettings>
    <add key="logFileName" value="VizientExportLog.txt"/>
  <add key="logFilePath" value="\\lapis\h_purchasing$\Purchasing\PMM IS data\Reference Logs\HEMMApps\VizientImport\"/>
    <add key="output_path" value="\\lapis\h_purchasing$\Purchasing\PMM IS data\VizientImport\OutputFiles\"/>
  <add key="default_path" value="\\lapis\h_purchasing$\Purchasing\PMM IS data\VizientImport\"/>
    <add key="backup_path" value="\\lapis\h_purchasing$\Purchasing\PMM IS data\VizientImport\backups\"/>
    <add key="trace" value ="false"/>
    </appSettings>
</configuration>